@charset 'utf-8';
body {
}

figure img{
    height:50%;
    width:50%;
    margin:1%;
    border:2px solid rgba(0, 0, 0, 0.59);
}
figcaption{
    background-color:rgba(0, 0, 0, 0.59);
    color:white;
    width:65%;
    }

