body {
}
video{
    height:80%;
    width:90%;
    border:10px solid brown;
}
#mycanvas{
    height:80%;
    width:90%;
    background-color:rgba(0, 0, 0, 0.69)
}
#mycanvas1{
    height:80%;
    width:90%;
    background-color:rgba(0, 0, 0, 0.69)
}

