@charset 'utf-8';
body {
}
video{
    height:80%;
    width:90%;
    border:10px solid brown;
}
#mycanvas{
    height:80%;
    width:90%;
    background-color:rgba(0, 0, 0, 0.69);
}
#mycanvaso{
    height:80%;
    width:90%;
    background-color:rgba(0, 0, 0, 0.69);
  
}

