body {
    background-color: antiquewhite;
}

header div {
    background-color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #92cf7b;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #92cf7b;
}

#bk {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

footer {
    
    background-color: #ffffff;
}

   
