body {
}
header li{
    list-style:none;
    display:inline;
    margin:2%;
    
}
.jumbotron{
    background-color:black;
    
}
li a{
    color:white;
}
li a:hover{
    text-decoration:none;
    color:#82e791;
}






