body {
    
}
#show{
    display:none;
}
div{
    background-color:yellow;
    border:1px solid black;
    width:120px;
    height:120px;
    
    box-shadow:rgba(150,150,150,.8)10px 10px;
    transform:rotate(2deg);  
}
div:hover #show{
   
    display:block; 
}
div:hover{
     background-color:greenyellow;
    width:200px;
    height:200px;
}

