body {
    
}
.show{
    display:none;
}
div{
    background-color:yellow;
    border:1px solid black;
    width:120px;
    height:120px;
    margin:5%;
    box-shadow:rgba(150,150,150,.8)10px 10px;
    transform:rotate(2deg);  
}
div:hover .show{
   
    display:block; 
}
div:hover{
    background-color:greenyellow;
    width:200px;
    height:200px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
 


