body {
    background-color: gray;
}


#padda {
    display: none;
    font-family: 'Times New Roman', Times, serif, 'Comic Sans MS';
}


#mobil {
    display: none;
    font-family: Arial, Helvetica, sans-serif,'Comic Sans MS';
}



#print {
    display: none;
    font-family: 'Comic Sans MS',Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: red;
    }


    #padda {
        display: block;
    }


    #mobil {
        display: none;
    }


    #print {
        display: none;
    }


    #dator {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    body {
        background-color: purple;
    }


    #padda {
        display: none;
    }


    #mobil {
        display: block;
    }

    #print {
        display: none;
    }


    #dator {
        display: none;
    }
}


@media only print {
    body {
        background-color: white;
    }


    #padda {
        display: none;
    }


    #mobil {
        display: none;
    }


    #print {
        display: block;
    }


    #dator {
        display: none;
    }
}
img{
    height:30%;
    width:30%;
}
ul{
    display:inline;
}
li{
    list-style:none;
    width:100%;
    background-color:gray;
    border:1px solid black;
    border-radius:10%;
}
article{
    width:80%;
    height:80%;
}
ul a{
    text-decoration:none;
    position:relative;
    left:25%;
    
}